/* Global css styles */

:root {
  --theme-color: #2E4458;
  --theme-highlight: #EB6138;

  --ui-margin: 32px;
  --ui-radius: 14px;
  --ui-shadow: 5px 5px 10px 0 black;
  --ui-max-width: 400px;
  --ui-max-height: 600px;

  --button-width: 293px;
  --button-height: 49px;

  --footer-top-margin: 30px;

  --padding-text: 10px;
}

body {
  margin: 0;
  padding: 0;
}
